.intro {
    padding: 70px 0;
}

.intro__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    

}
.intro__content__title::before{    
content: "";
position: absolute;
border-radius:50% ;
width: 67px;
height: 70px;
background: linear-gradient(180deg, #46F080 0%, rgba(70, 240, 138, 0.15) 100%);
filter: blur(100px)


}
.intro__content__img::after{    
position: absolute;
content: '';
}

.intro__content__title {
    font-size: var(--fs-title);
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.intro__content__text {
    font-size: var(--fs-card);
    color: var(--gray);
    width: 45%;
    text-align: center;

}

.intro__content__link {
    padding: 14px 117px;
    background-color: var(--blue);
    border-radius: 14px;
    box-shadow: 0px 10px 20px 0px #2555FF33;
    color: var(--white);
    font-size: var(--fs-content);
    margin-top: 20px;
    position: relative;
    transition: all ease 0.3s;
}

.intro__content__link i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.intro__content__link::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 0;
    right: 77px;
    transform: translate(-50%, 120%);
    background: linear-gradient(180deg, #F0B646 0%, rgba(240, 203, 70, 0.15) 100%);
    filter: blur(40px);

}

.intro__content__link:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    background-color: #0b5ed7;
}