.header {
    padding: 30px;
}

.header .container {
    display: flex;
    justify-content: space-around;
}

.header__back {
    display: flex;
    align-items: center;
}

.header__back i {
    font-size: 20px;
}

.header__title {
    font-size: var(--fs--content);
    font-weight: 600;
    color: var(--black);
}

.header__notif i {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.selector {
    padding: 32px 0;
}

.selector__content {
    display: flex;

    justify-content: space-between;
}

.selector__content__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;

    border-radius: 15px;
    box-shadow: 0px 4px 32px 0px #0000000a;
}

.selector__content__cards:active {
    background-color: var(--blue);
    color: var(--white);
}

.selector__content__cards .month {
    font-size: var(--fs-cards-text);
    font-weight: 400;
}

.selector__content__cards .day {
    font-size: var(--fs--content);
    font-weight: 600;
}

.selector__content__cards .weekdays {
    font-size: var(--fs-cards-text);
    font-weight: 400;
}

.task {
    padding: 32px;
}

.task__content {
    display: flex;
    flex-direction: column;

    gap: 28px;
}

.task__contnet__top {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    overflow-x: scroll;
}
.task__contnet__top::-webkit-scrollbar {
    height: 0;
}

.task__contnet__top .link {
    padding: 8px 24px;
    background-color: #ede8ff;
    white-space: nowrap;
    color: var(--blue);
    font-size: var(--fs-cards-text);
    font-weight: 400;
    border-radius: 9px;
}

.task__contnet__top .link:active {
    background-color: var(--blue);
    color: var(--white);
}

.task__contnet__main {
    display: flex;
    flex-direction: column;

    gap: 16px;
}
.task__contnet__main .cards {
    padding: 16px;
    border-radius: 15px;
    box-shadow: 0px 4px 32px 0px #0000000a;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.task__contnet__main .cards__title {
    display: flex;
    gap: 130px;
    justify-content: space-between;
    font-size: var(--fs-cards-text);
    font-weight: 400;
    color: var(--gray);
}
.cards__title__span .fa-bag-shopping {
    width: 24px;
    height: 24px;
    background-color: #ffe4f2;
    color: #f478b8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 7px;
}

.cards__title__span .fa-user {
    width: 24px;
    height: 24px;
    background-color: #ede4ff;
    color: #9260f4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
.cards__title__span .fa-book-open {
    width: 24px;
    height: 24px;
    background-color: #ffe6d4;
    color: #ff9142;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.task__contnet__main .cards__text {
    font-size: var(--fs-card);
    font-weight: 400;
    color: var(--black);
}
.task__contnet__main .cards__wrap {
    display: flex;
    justify-content: space-between;
}
.cards__wrap__time {
    display: flex;
    gap: 6px;
    align-items: center;
    color: #ab94ff;
    font-size: var(--fs-cards-text);
}
.cards__wrap .link {
    padding: 2px 6px;
    font-size: 9px;
    border-radius: 9px;
}
.cards__wrap .dark-blue {
    background-color: #ede8ff;
    color: #5f33e1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards__wrap .orange {
    background-color: #ffe9e1;
    color: #ff7d53;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards__wrap .blue {
    background-color: #e3f2ff;
    color: #0087ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list__item:nth-child(2) .active ~ .circle {
    transform: translateX(calc(69px * 1));
}
